<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ data.TITLE }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    {% for style in css %}
        <link rel="stylesheet" href="{{ style }}">
    {% endfor %}
    <style>{{ template_css|minify_css|raw }}</style>
</head>
<body>
<div>
    <div class="media">
        <div class="media-body">
            <h1 class="media-heading">{{ data.TITLE|raw }}
                {% if data.ALT_HOST %}
                    <label>
                        Host:
                        <select class="form-control">
                            <option selected>{{ data.HOST }}</option>
                            {% for host in data.ALT_HOST|split(',') %}
                                <option>{{ host }}</option>
                            {% endfor %}
                        </select>
                    </label>
                {%- else %}
                    <small>{{ data.HOST }}</small>
                {% endif %}
            </h1>
            {% if data.DESC %}
            {{ data.DESC|markdown_to_html }}
            {% endif %}
        </div>
        {% if image %}
            <div class="media-right">
                <a href="#">
                    <img class="media-object" src="{{ image }}" alt="Image">
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% include 'nav.twig' %}
        <div class="col s10 main-content">
            {% for category in categories %}
                {% include 'category.twig' %}
            {% endfor %}
            {% if structures|length > 0 %}
                <h2><a data-anchor-id="datastructures" id="datastructures">Data structures</a></h2>
                {% for name,structure in structures %}
                    {% include 'structure.twig' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% if extra_data|length > 1 %}
    <a id="metadata" class="waves-effect waves-light btn btn-floating extra-info modal-trigger" href="#modal-info"><i class="material-icons">info_outline</i></a>
    <!-- Tap Target Structure -->
    <div class="tap-target" data-target="metadata">
        <div class="tap-target-content">
            <h5>Metadata</h5>
            <p>This button shows the metadata for the API</p>
        </div>
    </div>
    <div id="modal-info" class="modal">
        <div class="modal-content">
            <h5>API Metadata:</h5>
            {% for key,value in extra_data %}<p>{{key}}:{{value}}</p>{% endfor %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
{% endif %}
{% for script in js %}
    <script src="{{ script|minify_js|raw }}"></script>
{% endfor %}
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.2/anchor.min.js" integrity="sha256-E4RlfxwyJVmkkk0szw7LYJxuPlp6evtPSBDlWHsYYL8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>{{ template_js|raw }}</script>
</body>
</html>