<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ data.TITLE }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    {% for style in css %}
        <link rel="stylesheet" href="{{ style }}">
    {% endfor %}
    <style>{{ template_css|minify_css|raw }}</style>
</head>
<body>
<div>
    <div class="media">
        <div class="media-body">
            <h1 class="media-heading">{{ data.TITLE|raw }}
                {% if data.ALT_HOST %}
                    <label>
                        Host:
                        <select class="form-control">
                            <option selected>{{ data.HOST }}</option>
                            {% for host in data.ALT_HOST|split(',') %}
                                <option>{{ host }}</option>
                            {% endfor %}
                        </select>
                    </label>
                {%- else %}
                    <small>{{ data.HOST }}</small>
                {% endif %}
            </h1>
            {% if data.DESC %}
            {{ data.DESC|markdown_to_html }}
            {% endif %}
        </div>
        {% if image %}
            <div class="media-right">
                <a href="#">
                    <img class="media-object" src="{{ image }}" alt="Image">
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% include 'nav.twig' %}
        <div class="col s10 main-content">
            {% for category in categories %}
                {% include 'category.twig' %}
            {% endfor %}
            {% if structures|length > 0 %}
                <h2><a data-anchor-id="datastructures" id="datastructures">Data structures</a></h2>
                {% for name,structure in structures %}
                    {% include 'structure.twig' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% if extra_data|length > 1 %}
    <a id="metadata" class="waves-effect waves-light btn btn-floating extra-info modal-trigger" href="#modal-info"><i class="material-icons">info_outline</i></a>
    <!-- Tap Target Structure -->
    <div class="tap-target" data-target="metadata">
        <div class="tap-target-content">
            <h5>Metadata</h5>
            <p>This button shows the metadata for the API</p>
        </div>
    </div>
    <div id="modal-info" class="modal">
        <div class="modal-content">
            <h5>API Metadata:</h5>
            {% for key,value in extra_data %}<p>{{key}}:{{value}}</p>{% endfor %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
{% endif %}
{% for script in js %}
    <script src="{{ script|minify_js|raw }}"></script>
{% endfor %}
<!-- JS, Popper.js, and jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.js" integrity="sha512-HNbo1d4BaJjXh+/e6q4enTyezg5wiXvY3p/9Vzb20NIvkJghZxhzaXeffbdJuuZSxFhJP87ORPadwmU9aN3wSA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.3.1/anchor.min.js" integrity="sha512-zPB79j2C+3sFS9zcA3vg/z6bVKzJVEyu9pY5w89akQRys76zpAT2t6S3wZKla3QQ14O5l/Yt0RUQ/DHXx82Y5g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q==" crossorigin="anonymous"></script>
<script>{{ template_js|raw }}</script>
</body>
</html>