<section class="resource">
<h3>
    <a class="resource-title"
       id="{{ resource.get_href|replace({'-': '/'}) }}"
       data-anchor-id="{{ resource.get_href|replace({'-': '/'}) }}">
        {{ resource.title }}
    </a>
    <small>{{ resource.href }}</small>
</h3>
{% if resource.description %}
    {{ resource.description|markdown_to_html }}
{% endif %}
{% if resource.url_variables %}
    <h5>URI Parameters</h5>
    <div class="row">
        <table class="table table-striped mdl-data-table mdl-js-data-table ">
            <thead><tr><td>key</td><td>type</td><td>status</td><td>description</td><td>value</td></tr></thead>
            <tbody>
            {% for url_variable in resource.url_variables %}{{ url_variable|raw }}{% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% for transition in resource.children %}
    {% include 'transition.twig' %}
{% endfor %}
</section>